*, *::before, *::after {
	margin: 0;
	padding: 0;
}

:root {
	--nav-height: 60px;
	--aside-width: 250px;
	--indicator-red: #FF8989;
	--indicator-yellow: #F8ED8C;
	--indicator-green: #89AC46;
	--corner-radius: 1em;

	/* Thank god for deepseek */
	--base-clr: #f8f9fa;
	--base-variant-clr: #dee2e6;
	--line-clr: #cecece;
	--hover-clr: #e9ecef;
	--text-clr: #212529;
	--text-clr-opaque: #21252974;
	--accent-clr: #4361ee;
	--secondary-text-clr: #495057;

	--secondary-text-clr: #b0b3c1;
	--box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)
}

.darkmode {
	--base-clr: #11121a;
	--base-variant-clr: #24252e;
	--line-clr: #42434a;
	--hover-clr: #222533;
	--text-clr: #e6e6ef;
	--text-clr-opaque: #e6e6ef74;
	--accent-clr: #5e63ff;
	--secondary-text-clr: #b0b3c1;
	--box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1);
}

svg {
	fill: var(--text-clr);
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


body {
	background-color: var(--base-clr);
	color: var(--text-clr);
	font-family: poppins;

	display: grid;
	grid-template-columns: auto 1fr;
}

nav {
	width: 100%;
	height: var(--nav-height);
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 200;

	background-color: var(--base-clr);
	grid-column: 1 / -1;
	border-bottom: 1px solid var(--line-clr);
	box-shadow: var(--box-shadow)
}


aside {
	width: var(--aside-width);
	height: calc(100vh - var(--nav-height));
	position: sticky;
	left: 0;
	top: var(--nav-height);
	padding: 1em;
	border-right: 1px solid var(--line-clr);

	transition: 300ms ease-in-out;
	overflow-x: hidden;
	text-wrap: nowrap;

	& ul {
		list-style-type: none;
	}

	&>ul>li>button:first-child, &>ul>li>ul button {
		width: 100%;
		padding: 0.75em;
		border: none;
		border-radius: .5em;
		display: flex;
		align-items: center;
		gap: 1.5em;
	}

	button:hover {
		background-color: var(--hover-clr);
	}


	.dropdown>span {
		flex-grow: 1;
		text-align: left;
	}

	.active {
		color: var(--accent-clr);

		svg {
			fill: var(--accent-clr)
		}
	}
}

aside.close {
	padding: 5px;
	width: 60px;
}

/* First row of sidebar */
aside>ul>li:first-child {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 15px;

	&>* {
		padding: 1em;
		border-radius: .5em;
	}

	&>button {
		margin-left: auto;
		flex-shrink: 0;
	}
}

aside svg {
	transition: 200ms ease;
	flex-shrink: 0;
}

.rotate svg:last-child {
	rotate: 180deg;
}

/* sidebar submenus */
aside .submenu {
	display: grid;
	grid-template-rows: 0fr;
	transition: 300ms ease-in-out;

	>div {
		overflow: hidden;
	}

	&.show {
		grid-template-rows: 1fr;
	}

	button {
		padding: 0;
		padding-left: 2em;
		display: grid;
		grid-template-columns: 1em 1fr auto;
		overflow: hidden;

		span {
			text-align: left;
			padding-top: 0.75em;
			padding-bottom: 0.75em;
		}

		.removeproj {
			opacity: 0;
			transition: 200ms ease;
			width: 40px;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			svg {
				fill: var(--base-clr);
			}

			&:hover {
				opacity: 1;
				background-color: var(--indicator-red);

			}
		}
	}
}

#addproject {
	display: block;
	padding: .85em;
	text-align: center;
	border: 1px solid var(--indicator-red);
	font-weight: 500;
	transition: 200ms ease-in-out;

	&:hover {
		background-color: var(--indicator-red);
		color: var(--base-clr);
	}
}

.header-line {
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
}

#add-task {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;

	&:hover {
		background-color: var(--hover-clr);
	}
}

dialog {
	margin: auto auto;
	border: none;
	border-radius: var(--corner-radius);
	padding: 30px;

	background-color: var(--base-clr);
	color: var(--text-clr);

	h1 {
		text-align: center;
		margin-bottom: 15px;
	}

	/* Make all inputs look the same */
	input[type="text"],
	input[type="date"], select {
		width: 300px;
		padding: 10px;
		border-radius: var(--corner-radius);
		border: 1px solid var(--line-clr);
		background-color: var(--base-clr);
		color: var(--text-clr);
		margin-bottom: 10px;
	}

	& .buttonwrapper {
		display: flex;
		gap: 5px;

		& button {
			flex: 1;
			border-radius: var(--corner-radius);
			border: 1px solid var(--line-clr);
			padding: .8em 1em;

			&:hover {
				background-color: var(--hover-clr);
				transition: 200ms;
			}
		}
	}

	& ul {
		list-style-type: none;
		margin: 0 0 10px 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		gap: 10px;

		& li {
			/* display: flex;
			align-items: center;
			gap: 20px; */
			display: grid;
			grid-template-columns: 100px 1fr;
			align-items: center;
			column-gap: 10px;
		}
	}

	& label {
		flex: 0 0 150px;
		text-align: right;
	}

	& input[type="checkbox"] {
		appearance: none;
		cursor: pointer;
		position: relative;
		width: 50px;
		height: 30px;
		border-radius: 25px;
		background-color: #ccc;
		transition: background .3s;

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 30%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			height: 1.25rem;
			width: 1.25rem;
			background-color: white;
			transition: left .3s;
		}

		&:checked {
			background-color: rgb(141, 221, 141);

			&::after {
				left: 70%;
			}
		}
	}

	&::backdrop {
		background-color: rgb(0, 0, 0, .5)
	}
}


.relative-wrap {
	position: relative;
}

.task-row {
	display: grid;
	grid-template-columns: 15px 1fr 140px 130px auto;
	align-items: stretch;
	border: 1px solid var(--line-clr);
	border-radius: .5em;
	overflow: hidden;
	box-shadow: var(--box-shadow);
	margin-bottom: 10px;
	/* min-height: 56px; */

	.task-project, .task-desc, .task-date {
		padding: 1em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.task-actions {
		display: flex;
		align-items: stretch;
	}

	.icon-button {
		width: 40px;
		transition: background 0.2s ease;
		display: flex;
		align-items: center;
		justify-content: center;


		&:hover svg {
			fill: var(--base-clr);
		}

		&:nth-of-type(1):hover {
			background-color: var(--indicator-green);
		}

		&:nth-of-type(2):hover {
			background-color: var(--indicator-yellow);
		}

		&:nth-of-type(3):hover {
			background-color: var(--indicator-red);
		}
	}

	&.completed::after {
		content: "";
		position: absolute;
		width: calc(100% + 20px);
		height: 0;
		top: 50%;
		left: -10px;
		border-top: 4px solid var(--text-clr-opaque);
	}
}

.priority-indicator.red {
	background-color: var(--indicator-red);
}

.priority-indicator.yellow {
	background-color: var(--indicator-yellow);
}

.priority-indicator.green {
	background-color: var(--indicator-green);
}

main {
	padding: 2rem 4rem;

	.header-line {
		border-bottom: 1px solid var(--line-clr)
	}
}

#theme-switch {
	height: 50px;
	width: 50px;
	padding: 0;
	border-radius: 50%;
	background-color: var(--base-variant-clr);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: calc(calc(var(--nav-height) -50px) / 2);
	right: 20px;
}

#theme-switch svg {
	fill: var(--text-clr);
}

#theme-switch svg:last-child {
	display: none;
}

.darkmode #theme-switch svg:first-child {
	display: none;
}

.darkmode #theme-switch svg:last-child {
	display: block;
}